@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url("https://fonts.googleapis.com/css?family=Crimson+Text"); 
body{

    background-color:black;
    height:100em;
    color:red;
    font-family: 'Bad Script';
    text-decoration-color: lawngreen;
}

#one{     
    margin: 0 15% 0 15%;
    width:70%;
     height:75%;
     position: absolute;
     top:0%
    /* overflow: hidden; */
    
}

#header {
    height: 8%;
    max-width: 100%;
    background-color: #000;
    margin: 0;
    padding:0;
    
    /* opacity: 0.3; */
    display: flex;
    justify-content: center;
}
h1{
    margin: 0;
    position: sticky;
    padding:0;
    color:#111;
    font-size:70px;
    height: 100%;
    
    font-family: 'Crimson Bad Script';
}
h1 span{
    /* display:table-cell; */
    animation: animate 2s linear infinite;

}
h1 span:nth-child(1){
    animation-delay: 0s;
}
h1 span:nth-child(2){
    animation-delay: 0.333s;
}
h1 span:nth-child(3){
    animation-delay: 0.667s;
}

@keyframes animate {
0%,100%{
    color:#fff;
    filter:blur(2px);
    text-shadow: 0 0 10px #00b3ff,
                0 0 50px #00b3ff,
                0 0 100px #00b3ff;
                
}
5%,95%{
    color:#111;
    filter:blur(0px);
    text-shadow: 0 0 10px none;
}

}


#container{
    background-image: url('./pics/1.png') ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 85%;
    /* background-clip: padding-box; */
    /* max-width:75em; */
    height:100%;
    /* border:10px solid red; */
    position: absolute;
    top:12%;
    left:0%;
    right:0%;
    /* margin:0 15% 0 15%; */
    /* margin-top: 10px; */
    
}
#main{
    overflow:hidden;
    /* display: flex; */
    /* margin: 5px; */
    position:absolute;
    top:112%;
    right:0%;
    left:0%;
    max-width: 100%;
    max-height: 100%;
    /* border: 2px solid yellow */
}

#scroller{
    display: flex;
    width:200%;
}
#scroller img{
    width: 12.5%;
    margin:0.08%;
    
}
img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
.boder-green{
    border:2px solid green;
}

.btn {
    z-index: 15;
    cursor: pointer;
    border: 3px solid  skyblue;
    color:skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    width: 2vw; 
    height: 2vw;
    border-radius: 50%;
    position: absolute;
    top: 43%;
 
    /* float:left; */
    /* left: 1%; */
    transition: transform 0.3s ease-in-out;
    user-select: none;
  }
  
  .btn-next {
    /* left: auto; */
    /* float:right; */
    right: 0.5%;

  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  #new{
      position: absolute;
      top:110%;
      border: 2px solid skyblue;
    margin: 0 7%; 
  }